{% extends "base.html" %}
{% block title %}Unity HLU Fix{% endblock %}

{% block content %}
<span id="mensaje">
   {% if data is defined and data|length %}
      Connected to {{  data.array_name }} (OE: {{ data.array_OE }})
   {% endif %}
</span>


   <div class="container">
   <form action="/" method="post" role="form">
      <span id="hide-me1">
         <div class="col-2 form-group">
            <label for="ip">Enter IP of Unity array</label>
            <input type="text" value="10.15.68.117" class="form-control" id="ip" name="ip">
         </div>

         <div class="col-3 form-group">
            <label for="username">User Name</label>
            <input type="text" value="jose9708@storage.rackspace.com" class="form-control" id="username" name="username">
         </div>

         <div class="col-3 form-group">
            <label for="password">Password</label>
            <input type="password" value="jo915ma1089jo478!!10" size="5" class="form-control" id="password" name="password">
         </div>

         <div class="col-3 form-group">
            <button type="button" class="btn btn-primary" value="value" id="connect-btn">Connect to Unity!</button>
         </div>
      </span>
      <span id="hide-me2" style="display:none">
         <div class="row">
            <div class="col-5 mx-sm-3 form-group">
               <span id="multi-select">
                  <select  multiple="multiple" style="height: 300px;" name="server_listbox">
                        {% if data is defined and data|length %}
                           {% for host in data.host_list.name %}
                              <option value="{{host}}">{{host}}</option>
                           {% endfor %}
                        {% endif %}
                  </select>
               </span>
            </div>
         </div>
         <div class="row">
            <div class="col-5 mx-sm-3 form-group">
               {% include 'disconnect.html' %}
            </div>
         </div>

      </span>
   </form>
   </div>


{% endblock %}