{% extends "base.html" %}
{% block title %}Unity HLU Fix{% endblock %}

{% block content %}
<span id="mensaje">{{ name | safe }}</span>


   <div class="container">
   <form action="/" method="post" role="form">
      <span id="hide-me1">
         <div class="col-sm form-group">
            <label for="array">Enter IP of Unity array</label>
            <input type="text" class="form-control" id="array" name="array">
         </div>

         <div class="col-3 form-group">
            <button type="button" class="btn btn-primary" value="value" id="connect-btn">Connect to Unity!</button>
         </div>
      </span>
      <span id="hide-me2" style="display:none">
         <div class="row">
            <div class="col-5 mx-sm-3 form-group">
               <select  multiple="multiple" style="height: 300px;" name="server_listbox">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3" selected="selected">Option 3</option>
                  <option value="option4">Option 4</option>
                  <option value="option5">Option 5</option>
                  <option value="option6" selected="selected">Option 6</option>
                  <option value="option7">Option 7</option>
                  <option value="option8">Option 8</option>
                  <option value="option9">Option 9</option>
                  <option value="option0">Option 10</option>
               </select>
            </div>
         </div>
         <div class="row">
            <div class="col-5 mx-sm-3 form-group">
               {% include 'disconnect.html' %}
            </div>
         </div>

      </span>
   </form>
   </div>


{% endblock %}